
@font-face {
    font-family: "TheGirlNextDoor-Regular";
    src: url("./fonts/TheGirlNextDoor-Regular.woff2") format("woff2"),
    url("./fonts/TheGirlNextDoor-Regular.woff") format("woff");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("./fonts/Quicksand-VariableFont_wght.woff2") format("woff2"),
    url("./fonts/Quicksand-VariableFont_wght.woff") format("woff")
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: auto 16vw;
    font-family: "Quicksand-Regular", sans-serif;
    text-align: center;
    color: rgb(51, 49, 49);
    min-height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*border-bottom: 2px solid black;*/
    height: 150px;
  }
  
  .heading {
    justify-self: center;
    align-self: center;
    font-family: "TheGirlNextDoor-Regular", sans-serif;
  }
  
  .nav {
    align-self: center;
    justify-self: right;
    
  }
  
  .nav-list {
    justify-self: center;
    align-self: center;
    list-style: none;
    display: grid;
    gap: 20px;
  }
  
  .nav-items {
    font-family: "Quicksand-Regular", sans-serif;
    font-weight: bold;
    text-align: right;
}

.nav-items:hover {
  cursor: grab;
}

.active-nav-item {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
}

hr {
  border-top: 1px solid gray;
  width: 90%;
}


.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.github-img {
  justify-self: start;
  align-self: center;
  height: 20px;
  width: 20px;
}

.img-container {
  display: grid;
  align-self: center;
  justify-self: center;
}

.img {
  width: 100%;
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
  
#chef-img {
  max-width: 60%;
}

.menu-heading, .contact-heading {
  text-decoration: underline;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 50px;
}

.menu-img {
  max-width: 40%;
}

.contact-info {
  font-weight: bold;
}

.contact-info-heading {
  text-decoration: underline;
}

